@import url("https://fonts.googleapis.com/css2?family=Henny+Penny&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pattaya&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");

$ptitleFont: "Henny Penny", cursive;
$stitleFont: "Pattaya", sans-serif;
$stextFont: "Roboto", sans-serif;
$textFont: "Heebo", sans-serif;
$textColor: #0d0d0d;
$mainbgColor: #f2f2f2;
$fbgColor: #f2cc0f;
$hbgColor: #8cbf3f;
$purpleColor: #9453a6;

.btn-style {
  background-color: #8cbf3f;
}

header.bg-color {
  background-color: $mainbgColor;
}

header.bg-color:hover {
  background: #ff0000;
  background: linear-gradient(
    to right,
    #ff0000 0%,
    #ffff00 25%,
    #05c1ff 50%,
    #ffff00 75%,
    #ff0000 100%
  );
}

.nav-font {
  font-family: "Varela Round", sans-serif;
  font-weight: 500;
  font-size: 18px;
  color: $textColor;
}

.nav-font#brand-font {
  font-family: "Heebo", sans-serif;
  font-weight: 700;
  font-size: 21px;
}

li a.nav-font:hover {
  background-color: $mainbgColor;
  opacity: 85%;
  border-radius: 6px;
  font-weight: 700;
}

main.bg-color {
  background-color: $mainbgColor;
}

h3#title-color {
  font-family: "Roboto", sans-serif;
  background: #00ff00;
  background: linear-gradient(to left, #00ff00 0%, #00ffff 100%);
  color: #0d0d0d;
}

h5#title-color {
  font-family: "Roboto", sans-serif;
  color: #ff0000;
  font-weight: 700;
}

.box-s-l {
  box-shadow: -15px -15px 4px 0px #9453a6;
}

.box-s-r {
  box-shadow: 15px 15px 4px 0px #f2cc0f;
}

.box-s-r-2 {
  box-shadow: 15px -15px 4px 0px #9453a6;
}

.box-s-l-2 {
  box-shadow: -15px 15px 4px 0px #f2cc0f;
}

footer.bg-color {
  background-color: $mainbgColor;
}

footer.bg-color:hover {
  background: #ff0000;
  background: linear-gradient(
    to right,
    #ff0000 0%,
    #ffff00 25%,
    #05c1ff 50%,
    #ffff00 75%,
    #ff0000 100%
  );
}

footer.f-font {
  font-family: "Varela Round", sans-serif;
  font-weight: 500;
  font-size: 17px;
  color: $textColor;
}

.fix-top {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.main-logo {
  width: 100px;
}

#btn-design {
  background-color: #00ff00;
  color: #0d0d0d;
  font-weight: 700;
}

#btn-design:hover {
  background: #ff0000;
  background: linear-gradient(
    to right,
    #ff0000 0%,
    #ffff00 25%,
    #05c1ff 50%,
    #ffff00 75%,
    #ff0000 100%
  );
  color: #0d0d0d;
}

@media (max-width: 425px) {
  label.d-sm-placeholder {
    display: none;
  }
}

a.btn-design {
  background-color: #00ffff;
  color: #0d0d0d;
  font-weight: 500;
}

a.btn-design:hover {
  background: #ff0000;
  background: linear-gradient(
    to right,
    #ff0000 0%,
    #ffff00 25%,
    #05c1ff 50%,
    #ffff00 75%,
    #ff0000 100%
  );
  color: #0d0d0d;
}

button.btn-design {
  background-color: #00ffff;
  color: #0d0d0d;
  font-weight: 500;
}

button.btn-design:hover {
  background: #ff0000;
  background: linear-gradient(
    to right,
    #ff0000 0%,
    #ffff00 25%,
    #05c1ff 50%,
    #ffff00 75%,
    #ff0000 100%
  );
  color: #0d0d0d;
}

.l-box {
  height: 225px;
  width: 300px;
  transition: 2s;
}

.l-box:hover {
  transform: scale(1.3);
}

@media (max-width: 768px) {
  iframe {
    height: 250px;
    width: 450px;
  }
}

@media (max-width: 476px) {
  iframe {
    height: 170px;
    width: 300px;
  }
}

.col-bg-1 {
  background: #f1f37c;
}
